body{
    margin:0;
    background:white;
    font-family: Helvetica;
}

.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
    gap:15px;
}

.logo{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}

.name{
    color:black;
    font-size:16px;
}

input{
    padding:12px 25px;
    border:2px solid green;
    border-radius:40px;
    font-size:16px;
}

.start{
    margin-top:20px;
    padding:12px 35px;
    background:green;
    color:white;
    border:none;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
}

.start:hover{
    box-shadow:0 0 10px green;
}